<div class="container">
  <div class="row my-2">
    <div class="col-md-4">
      <% @transaction_dashboard[:timeline_items].each do |timeline_item| %>
        <div class="timeline-item <%= timeline_item.is_future ? 'timeline-item-future' : 'timeline-item-past' %>">
          <div class="timeline-item-inner">
            <div class="top-row">
              <div class="description">
                <%= timeline_item.description %>
              </div>
              <div class="amount">
                <%= number_to_currency timeline_item.amount%>
              </div>
            </div>
            <div class="bottom-row">
              <div class="transaction_date">
                <%= timeline_item.transaction_date.strftime("%b %-d, %y") %>
              </div>
              <div class="balance">
                <%= number_to_currency timeline_item.balance%>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= line_chart @transaction_dashboard[:chart_data] %>
      <div class="alert alert-info" role="alert">
        <i class="fa fa-exclamation-triangle"></i> This is where overdue bills, upcoming low balance flags, and update required flags will go
      </div>
    </div>
  </div>
