<%= form_for import_file_request, url: account_import_file_requests_path(account), remote: request.xhr?, data: { modal: true }, multipart: true do |f| %>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <%= render 'layouts/errors', locals: { error_obj: account} %>
      </div>
      <div class="alert alert-info" role="alert">
        <i class="fa fa-exclamation-triangle"></i> Currently, CSVs must be in a strict format.  In the near future, CSV format will be made configurable to support any financial institution.
      </div>
      <div class="row">
        <div class="form-group">
          <label for="file">File to Upload</label>
          <%= f.file_field :source_file, value: 'Attach File', class: 'btn btn-outline-primary btn-sm attach-transaction-file-button' %>
        </div>
        <% if import_file_request.last_balance_required? %>
          <div class="form-group">
            <label for="last-balance">Last Balance</label>
            <%= f.number_field :last_balance, class: 'form-control', id: 'last-balance', step: 0.01 %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-danger" data-dismiss="modal" aria-hidden="true">Close</button>
      <%= f.submit "Save", { class: 'btn btn-outline-primary submit-upload-transactions'} %>
    </div>
  <% end %>
