<div class="container">
  <div class="row my-2">
    <div class="col">
      <%= link_to "Upload Transactions", new_account_import_file_request_path(@account), data: { modal: true},  class: "btn btn-primary btn-sm" %>
    </div>
  </div>
  <div class="table-responsive-sm">
    <table class="table">
      <thead>
        <tr>
          <th style="min-width:120px">Date</th>
          <th style="min-width:240px">Description</th>
          <th>Amount</th>
          <th>Balance</th>
          <th>Budget Assignment</th>
        </tr>
      </thead>
      <tbody>
        <% @transactions.each do |transaction| %>
          <tr data-id="<%= transaction.id %>">
            <td><%= transaction.transaction_date %></td>
            <td><%= transaction.description %></td>
            <td><%= number_to_currency(transaction.amount) %></td>
            <td><%= number_to_currency(transaction.balance) %></td>
            <td>
              <% if transaction.budgeted_line_item.nil? %>
                <span class="not-assigned-text">Not assigned</span>
              <% else %>
                <%= transaction.budgeted_line_item.description %>
              <% end %>
              <%= link_to fa_icon("pencil"), edit_account_transaction_path(@account, transaction), data: { modal: true }, class:'btn btn-outline-primary btn-sm assign-budget' %>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <%= will_paginate @transactions, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
