<div class="container">
  <div class="my-2">
    <%= link_to "Upload Transactions", "#upload-transactions-modal", class: "btn btn-primary btn-sm", "data-toggle": "modal" %>
    <div class="modal hide fade" id="upload-transactions-modal" title="My modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Upload Transactions</h3>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
          </div>
          <%= form_tag account_imported_files_path(@account), multipart: true do %>
            <div class="modal-body">
              <label for="file">File to Upload</label>
              <%= file_field_tag :source_file, value: 'Attach File', class: 'btn btn-outline-primary btn-sm attach-transaction-file-button' %>
            </div>
            <div class="modal-footer">
              <button class="btn btn-outline-danger" data-dismiss="modal" aria-hidden="true">Close</button>
              <%= submit_tag "Save", { class: 'btn btn-outline-primary submit-upload-transactions'} %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive-sm">
    <table class="table table-align-middle">
      <thead>
        <tr >
          <th style="min-width:120px">Date</th>
          <th style="min-width:240px">Description</th>
          <th>Amount</th>
          <th>Budget Assignment</th>
        </tr>
      </thead>
      <tbody>
        <% @transactions.each do |transaction| %>
          <tr data-id="<%= transaction.id %>">
            <td><%= transaction.transaction_date %></td>
            <td><%= transaction.description %></td>
            <td><%= number_to_currency(transaction.amount) %></td>
            <td>
              <% if transaction.budgeted_line_item.nil? %>
                <span class="not-assigned-text">Not assigned</span>
              <% else %>
                <%= transaction.budgeted_line_item.description %>
              <% end %>
              <%= link_to fa_icon("pencil"), edit_account_transaction_path(@account, transaction), class:'btn btn-outline-primary btn-sm assign-budget', remote: true %>
            </td>
          </tr>
        <%end%>
        <tr>
      </tbody>
    </table>
  </div>
  <%= will_paginate @transactions, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  <div id="modal-window" class="modal" ></div>
</div>
