<div class="container">
  <div class="table-responsive-sm">
    <table class="table table-align-middle">
      <thead>
        <tr >
          <th style="min-width:120px">Date</th>
          <th style="min-width:240px">Description</th>
          <th>Amount</th>
          <th>Budget Assignment</th>
        </tr>
      </thead>
      <tbody>
        <% @transactions.each do |transaction| %>
          <tr data-id="<%= transaction.id %>">
            <td><%= transaction.transaction_date %></td>
            <td><%= transaction.description %></td>
            <td><%= number_to_currency(transaction.amount) %></td>
            <td>
              <% if transaction.budgeted_line_item.nil? %>
                <span class="not-assigned-text">Not assigned</span>
              <% else %>
                <%= transaction.budgeted_line_item.description %>
              <% end %>
              <%= link_to fa_icon("pencil"), edit_transaction_path(transaction), class:'btn btn-outline-primary btn-sm assign-budget', remote: true %>
            </td>
          </tr>
        <%end%>
        <tr>
      </tbody>
    </table>
  </div>
  <%= will_paginate @transactions, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  <div id="modal-window" class="modal" ></div>
</div>
